# ===== Configuração do Azure Storage =====
# Todas as informações de conexão, mesmo que não sejam utilizadas no código
# O token SAS, por exemplo, deve ser usado após o url dos blobs do container para acessar o conteúdo
# já que o container é privado, ou seja, não é possível acessar os arquivos sem o token SAS, mesmo que se tenha a url do blob.
AZURE_STORAGE_CONNECTION_STRING=string_de_conexão_do_azure_storage
TOKEN_SAS=token_sas_gerado_na_plataforma
SAS_URL=url_sas_token
CONTAINER_NAME=nome_do_seu_container
AZURE_STORAGE_ACCOUNT_NAME=nome_da_sua_conta_de_armazenamento

# ===== Configuração do Azure MySQL =====
DB_HOST=seu_host_do_banco_de_dados
DB_PORT=sua_porta
DB_USER=seu_usuario_do_banco_de_dados
DB_PASSWORD=sua_senha_do_banco_de_dados
SSL_MODE=require_por_ser_nuvem